@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  background: #fff;
}

/* App.css faylingizga qo'shing */
html {
  color-scheme: light;
}
body {
  color-scheme: light;
}
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  /* --light: #F9F9F9; */
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  /* --grey: #eee; */
  /* --dark-grey: #aaaaaa; */
  /* --dark: #342e37; */
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body {
  /* background: var(--grey); */
  overflow-x: hidden;
}

/* SIDEBAR */

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */

/* NAVBAR */

/* MAIN */

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}
.group {
  z-index: 100000000000;
}
/* Media query for small screens */
/* Media query for small screens */

.container,
.header,
.footer {
  background-color: #fff; /* Oq fon */
  color: #000; /* Qora matn rang */
}
body {
  min-height: 100vh; /* Ekran balandligini 100% qilib o'rnatadi */
  margin: 0; /* Har qanday standart marginni olib tashlaydi */
  padding: 0; /* Har qanday standart paddingni olib tashlaydi */
  background-color: #fff; /* Oq fon */
  color: #000; /* Qora matn rang */
}
